<div class="Header">
    <span>ARL PROJECT</span>
</div>


<div class="container Body">
    <div class = "row">

        <div class="col-sm-4 p-3">
          <div class="row justify-content-center">
            <div class="card" style="height: 10rem; border-color: #0D6EFD;">
              <input class="btn btn-primary center" type="submit" value="BattleField Monitoring" (click)= "battleField()" style="margin-top: 60px;">
            </div>
          </div>
        </div>
        
        <div class="col-sm-4 p-3">
          <div class="row justify-content-center">
            <div class="card" style="height: 10rem; border-color: #0D6EFD;">
              <input class="btn btn-primary" type="submit" value="Network Monitoring" (click)= "network()" style="margin-top: 60px;">
            </div>
          </div>
        </div>
        
        <div class="col-sm-4 p-3">
          <div class="row">
            <div class="card" style="height: 10rem; border-color: #0D6EFD;">
              <input class="btn btn-primary" type="submit" value="Asset Management" (click)= "asset()" style="margin-top: 60px;">
            </div>
          </div>
        </div>
        

    </div>

    

</div>

<div class="Footer">
    <span> Copyright 2022, CARDS Lab, UMBC.</span>
</div>
